<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    	<div class="container" id="directionPage">
		
			<div class="row">

				<div class="col-md-4 col-sm-12 col-xs-12 col2">

					<div id="distance">
						<h2> Directions to Rosenkraanz, Ga-Matlala </h2>
						<br />
						<p>From Polokwane, take the Matlala Road, continue for about 40Km until you reach a stop sign at TIBANE,
						then continue straight until you see a small dam on your left.</p></br/>

						<p>Turn right at the  TAR ROAD, continue straight until you reach a gravel road, continue straight with the gravel road until you reach a T-junction
						with a board written Rosenkraanz, turn left and the first  small village will be Rosenkraanz.</p><br />

						<p>You will see the cars and the tent</p>
					</div>

					<article>

    				</article>

				</div>

				<div class="col-md-4 col-sm-12 col-xs-12 col3">
					<div id="map">
					</div>
				</div>

				<div class="col-md-4 col-sm-12 col-xs-12 col3">

				</div>
			</div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
