<!-- views/pages/our_story.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    	<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12 col3">
					<img class="img-responsive" src="public/Images/10.jpg" alt="">
				</div>

				<div class="col-md-7 col-sm-12 col-xs-12 col3">
					<h3>How we met</h3>
					<p>We met 11 years back in Pretoria “The Jacaranda City”when we were both tertiary students. </p>
					<br/>
					<h3>Lobola</h3>
					<p>On the 15th of July 2012 the Lamola family visited the Tloubatla family to start with the Lobola negotiations. On the 20th of October 2012 the Lobola negotiations were finalised and a Bridal Send Off Ceremony was held at Mmamoko’s home in Botlokwa. </p>
					<br/>
					
					<h3>Matrimony</h3>
					<p>On the 31st of March 2013 a Matrimonial ceremony was held at the Lutheran Church in Rosenkraanz Ga-Matlala;where we signed in the books of Home Affairs and Mmamoko was then the officially Mrs Lamola.</p>

					<h3>Our Blessing</h3>
					<p>On the 26th   of June 2013 we were blessed with a healthy baby boy “Our Matsobane” Our bundle of Joy-Our reason for breathing</p>
				</div>
			</div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
