<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    	<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 col3">
					<h3> Boardmans </h3>
					<a href="http://www.boardmans.co.za/giftregistry/view/index/id/RW000013399/">
						<img src="public/Images/b.png" class="img-rounded" alt="Cinque Terre" width="304" height="236" />
					</a>
				</div>

				<div class="col-md-6 col-sm-12 col-xs-12 col3">
					<h3> @Home </h3>
					<a href="http://www.home.co.za/giftlist/giftRegistry.jsp?pageName=giftRegistryView&giftlistId=gl59720672">
						<img src="public/Images/home.png" class="img-rounded" alt="Cinque Terre" width="304" height="236" />
					</a>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 col3">
					<h3> Mr Price Home </h3>
					<a href="https://www.mrphome.com/en_za/giftregistry/giftRegistryView.jsp?giftListId=Lam651671&_requestid=44742656">
						<img src="public/Images/p.png" class="img-rounded" alt="Cinque Terre" width="304" height="236" />
					</a>
				</div>

				<div class="col-md-6 col-sm-12 col-xs-12 col3">
					<h3> Home etc </h3>
					<a href="http://www.boardmans.co.za/giftregistry/view/index/id/RW000013399/">
						<img src="public/Images/he.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236" />
					</a>
				</div>
			</div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
